body {

    font-family: 'Bebas Neue', cursive;
    font-family: 'Fascinate', cursive;
    font-size: larger;

    background-color: aqua;
    margin: 0%;
}

h1 {
    color: red;
    font-size: 60px;
}

h2 {
    font-size: 50px;
    color: red;
}

h4 {
    color: red;
    font-size: 40px;
}

.fx {
    display: flex;
    margin-bottom: 110px;
    border-radius: 15px;
}

.dd {
    width: 50%;
}

.dd img {
    width: 100%;
}

.dd {
    padding-left: 5%;
    padding-right: 5%;
}

.ss {
    text-decoration: none;
    background-image: linear-gradient(black, red);
    padding: 8px 20px;
    border-radius: 5px;
    color: gold;
    font-weight: 300;

}

.top {

    background-image: url(img/iron\ man3.jpg);
    background-repeat: no-repeat;
}

.hf {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 80px rgb(252, 2, 2);
    background-image: url(img/iron\ man3.jpg);
    background-image: no-repeat;
    border-radius: 10px;
    border-left: 10px solid;
    border-image: linear-gradient(red, black);
    border-image-slice: 1;

}

.thanos {
    background-image: url(img/thanos.jpg);
    border-left: 10px solid;
    border-image: linear-gradient(rgb(7, 253, 7), rgb(255, 6, 255));
    border-image-slice: 1;
}

footer p {
    text-align: center;
}